.git
.gitignore
.venv
venv
.env
.env.*
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/
.DS_Store
node_modules/
dist/
build/
Backend/app/upload/eleve_upload/*
frontend/models/*.pt
frontend/models/*.task
