# Created by venv; see https://docs.python.org/3/library/venv.html

bin/
lib/
include/
lib64/
pyvenv.cfg
share/
venv/
.venv/
postman/
__pycache__/
*.db
*.sqlite
*.sqlite3
data/
.vscode/
Backend/.vscode/
frontend/.vscode/
**/upload/*
.python-version
*.log
*.sql

# Local environment
.env
!.env.example


.env
Backend/app/upload/
*.pt
*.task
*.pkl
